@use '../abstracts/' as *;

.btn {
  display: inline-flex;
  place-content: center;
  padding: 0.625em 1.5em;
  border: 0;
  border-radius: 100vmax;
  color: var(--clr-neutral-900);
  font-size: var(--fs-400);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;

  @include respond(lg) {
    padding: 0.875em 2em;
  }
}

.btn--dark {
  background-color: var(--clr-secondary-200);

  &:is(:hover, :focus) {
    background-color: var(--clr-secondary-500);
  }
}

.btn--gradient-primary {
  background-image: var(--gradient-primary);

  &:is(:hover, :focus) {
    opacity: 0.6;
  }
}

.btn--gradient-secondary {
  position: relative;
  overflow: hidden;
  background-image: var(--gradient-secondary);

  &:is(:hover, :focus)::before {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    background-color: hsla(0, 0%, 100%, 0.4);
    opacity: 0;
    transition: all 0.2s;
  }
}
